name: Publish sunds to PyPI

on:
  # Event manually triggered (in the Github UI)
  workflow_dispatch:
    inputs:
      git-ref:
        description: Git ref (e.g. SHA or tag) (Optional)
        default: ""
        required: false

jobs:
  publish-job:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
    - uses: actions/checkout@v2
      with:
        git-ref: ${{ github.event.inputs.git-ref }}

    # Install deps
    - uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - run: python -m pip install poetry

    # Publish the package
    - run: poetry build
    - run: poetry publish
      env:
        POETRY_HTTP_BASIC_PYPI_USERNAME: __token__
        POETRY_HTTP_BASIC_PYPI_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
