name: Unittests & Auto-publish

# Allow to trigger the workflow manually (e.g. when pushing changes to `etils`)
on: [push, workflow_dispatch]

jobs:
  pytest-job:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
    - uses: actions/checkout@v3

    # Install deps
    - uses: actions/setup-python@v4
      with:
        python-version: 3.7
    - run: pip install -e .[dev]
    # Tensorflow has to be installed separately (to allow tf-nightly)
    - run: pip install tensorflow

    # Run tests
    # As pytest globally collect tests, we run datasets test in another process
    # so the datasets are not auto-registered on import.
    - name: Run core tests
      run: pytest -vv -n auto --ignore sunds/datasets/

    - name: Run datasets tests
      run: pytest -vv -n auto sunds/datasets/

  # Auto-publish when version is increased
  publish-job:
    # Only try to publish if:
    # * Repo is self (prevents running from forks)
    # * Branch is `main`
    if: |
      github.repository == 'google-research/sunds'
      && github.ref == 'refs/heads/main'
    needs: pytest-job  # Only publish after tests are successful
    runs-on: ubuntu-latest
    permissions:
      contents: write
    timeout-minutes: 30

    steps:
    # Publish the package (if local `__version__` > pip version)
    - uses: etils-actions/pypi-auto-publish@v1
      with:
        pypi-token: ${{ secrets.PYPI_API_TOKEN }}
        gh-token: ${{ secrets.GITHUB_TOKEN }}
